body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.section-01, .section-03 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 44px;
    color: #000;
}

.section-02 {
    height: 200vh;
    position: relative;
}

.sticky-section {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    aspect-ratio: 1458 / 820;
}

.msg-elem {
    font-size: 44px;
    color: #fff;
    opacity: 0;
    transition: opacity 1s ease;
}

.msg-elem.visible {
    opacity: 1;
}